In [26]:
import pandas as pd
big_data=pd.read_csv("X.txt" , sep=" " , chunksize=200)

In [27]:
import numpy as np
genotype=pd.DataFrame()
for chunk in big_data:
    df=pd.DataFrame(chunk).astype(np.int8)
    genotype=pd.concat([genotype,df], ignore_index=True,)

In [28]:
genotype

,CH01_SNP0,CH01_SNP1,CH01_SNP2,CH01_SNP3,CH01_SNP4,CH01_SNP5,CH01_SNP6,CH01_SNP7,CH01_SNP8,CH01_SNP9,...,CH22_SNP7371,CH22_SNP7372,CH22_SNP7373,CH22_SNP7374,CH22_SNP7375,CH22_SNP7376,CH22_SNP7377,CH22_SNP7378,CH22_SNP7379,CH22_SNP7380
0,0,0,2,0,2,2,0,2,2,2,...,0,0,0,0,2,2,0,2,2,0
1,0,2,1,2,2,0,2,2,1,0,...,2,0,1,2,0,1,2,2,0,2
2,0,1,1,0,1,0,0,2,0,0,...,2,0,0,2,0,0,1,1,0,2
3,0,1,1,0,1,0,0,2,0,0,...,1,1,0,1,1,0,2,1,0,2
4,1,0,1,0,1,0,0,1,1,0,...,2,0,1,2,1,0,2,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,1,1,1,2,0,1,2,0,0,...,2,0,1,2,0,1,2,2,0,2
996,1,1,0,0,2,0,1,1,1,0,...,2,0,0,2,0,0,1,0,1,1
997,0,0,2,1,1,0,0,2,0,0,...,2,0,1,1,1,1,1,1,0,2
998,1,1,0,2,2,0,2,0,2,0,...,1,0,0,2,1,0,1,0,1,1
999,0,1,1,1,2,0,1,2,1,0,...,1,0,0,2,2,0,1,2,0,2

In [31]:
print(type(genotype['CH01_SNP0'][1]))

<class 'numpy.int8'>

In [32]:
genotype.to_csv("Genotype.csv")